<div class="map-container">
  <agm-map class="map-element" [latitude]="13.77878133564047" [longitude]="100.56005718825766" [zoom]="18" #gm>
    <agm-marker *ngFor="let item of markerLocation" [latitude]="item.lat" [longitude]="item.lng"
      (markerClick)="onMouseOver(infoWindow,gm)">
      <agm-info-window [disableAutoPan]="false" #infoWindow>
        <div>
          ข้อมูลสถานที่ : {{item.desc}}
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>