<form nz-form [formGroup]="validateForm" class="login-form" [nzLayout]="'inline'" (ngSubmit)="submitForm()">
  <div class="container">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="username" nz-input placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input type="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" class="login-form-button login-form-margin" >Log in</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>