.login-form {
    padding-top: 40vh;
    padding-bottom: 40vh;
    width: 100vw;
}

.container {
    width: 400px;
    text-align: center;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}