.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
}

[nz-menu] {
    line-height: 64px;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding: 0 50px;
}

nz-footer {
    text-align: center;
}

.inner-content {
    margin-top: 50px;
    background: #fff;
    padding: 24px;
    min-height: 80vh;
}

.inner-content-mobile {
    margin-top: 25px;
    background: #fff;
    padding: 0px;
    min-height: 80vh;
}
nz-avatar{
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    }
    
