<nz-layout *ngIf="isAuth === true">
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item (click)="_link='';_method=''">Home</li>
      <li nz-menu-item (click)="_link='map';_method=''">Map</li>
      <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div *ngIf="_link===''">
        <div style="text-align: center;" *ngIf="_method===''">
          <div style="margin-top:50px" *ngFor="let item of domatoryList">
            <a (click)="_method='info'; domantoryDetail = item;">
              <img width="90%" height="90%" src="{{item.image.url}}" />
            </a>
          </div>
        </div>
        <div *ngIf="_method==='info'">
          <app-domatoryinfo [_domantoryDetail]="domantoryDetail"></app-domatoryinfo>
        </div>
        <div *ngIf="_method==='sr'">
          <app-sr></app-sr>
        </div>
      </div>
      <app-map *ngIf="_link==='map'"></app-map>
    </div>
  </nz-content>
  <nz-footer></nz-footer>
</nz-layout>

<!---<nz-layout *ngIf="isAuth === false">
  <app-login (setAuth)="setAuth($event)"></app-login>
</nz-layout> --->