<div class="container">
    <img nz-image width="90%" height="90%" nzSrc="assets/etc/louis.png" alt="" />

    <nz-card style="width:100%,height 100%;">
        <div>
            <h3>ราคาห้อง</h3>
            <p>{{ _domantoryDetail.dormitoryDetail.prize }}</p>
        </div>
        <div>
            <h3>
                หน่วยค่าน้ำค่าไฟ</h3>
            <p> ค่าน้ำ{{ _domantoryDetail.dormitoryDetail.waterCostPerUnit }}฿ ค่าไฟฟ้า {{
                _domantoryDetail.dormitoryDetail.electricityCostPerUnit}}฿</p>
        </div>
        <div>
            <h3>ที่อยู่หอพัก</h3>
            <p>{{ _domantoryDetail.dormitoryDetail.location.formatted_address }}</p>
        </div>
        <div>
            <h3> เบอร์โทร</h3>
            <p>{{ _domantoryDetail.dormitoryDetail.tel }}</p>
        </div>
    </nz-card>
</div>
<div class="container">
    <div nz-row>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="" alt="https://sv1.picz.in.th/images/2022/12/22/JfC6Oa.jpg" />
        </div>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="" alt="https://sv1.picz.in.th/images/2022/12/22/JfCGeI.jpg" />
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="" alt="https://sv1.picz.in.th/images/2022/12/22/JfuddE.jpg" />
        </div>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="" alt="https://sv1.picz.in.th/images/2022/12/22/JfuhQ2.jpg" />
        </div>
    </div>
</div>
<div>
    <img nz-image width="100%" height="100%" nzSrc="" alt="https://sv1.picz.in.th/images/2022/12/22/Jf208v.png" />
</div>