<div class="container">
    <img nz-image width="90%" height="90%" nzSrc="assets/etc/sr.png" alt="" />

    <nz-card style="width:100%,height 100%;">
        <h1>
            รายละเอียดหอพัก
        </h1>
        <p>
            - ค่าไฟฟ้า 7฿ ค่าน้ำ 17฿
            - หอพักใกล้มหาวิทยาลัยหอการค้าไทย เดินทางสะดวก ที่พักมีสิ่งอำนวยความสะดวกครบครัน
            - ราคาห้องพัก 3900
            - หอหลุยแมนชั่น 270/66 ถ.วิภาวดีรังสิต เขต ดินแดง แขวง ดินแดง กทม. 10400
            - โทร 089-288-8819
        </p>
    </nz-card>
</div>
<div class="container">
    <div nz-row>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="assets/etc/2401.jpg" alt="" />
        </div>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="assets/etc/2402.jpg" alt="" />
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="assets/etc/2403.jpg" alt="" />
        </div>
        <div nz-col nzSpan="12">
            <img nz-image width="73%" height="73%" nzSrc="assets/etc/2404.jpg" alt="" />
        </div>
    </div>
</div>